# PYTHON LIST ASSIGNMENT

AAMIR JAN KHAN
PIAIC BATCH 3 ISLAMABAD
09:00-12:00, BAHRIA UNIVERSITY, ISLAMABAD

In [2]:
lst=["aamir jan khan", {"age":22}, "PIAIC batch 3 Islamabad", ("09:00-12:00",), [1,2,3], {1,2,3,4}]
print(lst)

['aamir jan khan', {'age': 22}, 'PIAIC batch 3 Islamabad', ('09:00-12:00',), [1, 2, 3], {1, 2, 3, 4}]

In [3]:
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

append function adds into the existing list...

In [4]:
lst.append({1,2,3,3,4,5,6,6,6,7})

In [5]:
print(lst)

['aamir jan khan', {'age': 22}, 'PIAIC batch 3 Islamabad', ('09:00-12:00',), [1, 2, 3], {1, 2, 3, 4}, {1, 2, 3, 4, 5, 6, 7}]

extend function also adds into the list but it will extend every element of the list, tuple, set as an indivudual element.

In [6]:
lst.extend([1,2,3,4,5])
print(lst)

['aamir jan khan', {'age': 22}, 'PIAIC batch 3 Islamabad', ('09:00-12:00',), [1, 2, 3], {1, 2, 3, 4}, {1, 2, 3, 4, 5, 6, 7}, 1, 2, 3, 4, 5]

clear will clear all the list

In [7]:
lst2=lst
print(lst2)
lst2.clear()
print(lst2)

['aamir jan khan', {'age': 22}, 'PIAIC batch 3 Islamabad', ('09:00-12:00',), [1, 2, 3], {1, 2, 3, 4}, {1, 2, 3, 4, 5, 6, 7}, 1, 2, 3, 4, 5]
[]

reverse methods reverses the list elements

In [22]:
lst1=[1,3,5,7,9,2,4,6,8,10]
lst1.reverse()
print(lst1)

[10, 8, 6, 4, 2, 9, 7, 5, 3, 1]

sort method sorts the list
defaults sorting pattern is ascending order
we can also pass an argument of reverse=True to reverse in decending order

In [23]:
lst1.sort()
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
lst1.sort(reverse=True)
print(lst1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

count function count the number of occurances

In [25]:
lst1=[1,1,1,2,2,2,3,4,5,6,7,7,7,7,7,8]
print(lst1.count(1))

3

we can also count onwards from the indexes we specify

In [26]:
lst1[2:].count(1)

1

we can find min and max values from the list...

In [28]:
min(lst1)

1

In [29]:
max(lst1)

8

we canm also sum all the elements

In [30]:
sum(lst1)

70

min and max can also be applied to string but not sum, sum can only be applied to integer or float values.

In [33]:
lst2=['aamir','jan','khan']
max(lst2)

'khan'

In [34]:
min(lst2)

'aamir'

we can also find the indexes of the list

In [35]:
dna=['A','G','C','T']
dna.index('T')

3

matrices can also be declared in the form of nestede lists

In [36]:
matrix=[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

In [37]:
print(matrix[0][2])

3

we can also sort matrixes, and we can also sort each indivisual element of the row too.

In [57]:
from operator import itemgetter
matrix=[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
matrix.sort(key=itemgetter(0),reverse=False)
print(matrix)
matrix.sort(key=itemgetter(2),reverse=False)
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

In [56]:
matrix1=[[1,2,0],[4,8,9],[1,3,6]]
matrix1.sort(key=itemgetter(0),reverse=False)
print(matrix1)

[[1, 2, 0], [1, 3, 6], [4, 8, 9]]

In [58]:
matrix1=[[1,2,0],[4,8,9],[1,3,6]]
matrix1.sort(key=itemgetter(1),reverse=False)
print(matrix1)

[[1, 2, 0], [1, 3, 6], [4, 8, 9]]

In [64]:
matrix1=[[1,2,0],[4,8,9],[1,3,6]]
matrix1.sort(key=itemgetter(2),reverse=False)
print(matrix1)

[[1, 2, 0], [1, 3, 6], [4, 8, 9]]

In [60]:
matrix1=[[1,2,0],[4,8,9],[1,3,6]]
matrix1.sort()
print(matrix1)

[[1, 2, 0], [1, 3, 6], [4, 8, 9]]

In [61]:
sorted(matrix1,key=itemgetter(0),reverse=True)

[[4, 8, 9], [1, 2, 0], [1, 3, 6]]

we can insert by insert function and giving the index to insert

In [66]:
lst=[1,2,3,4,5,6,7]
lst.insert(-1,8)
print(lst)

[1, 2, 3, 4, 5, 6, 8, 7]

In [68]:
lst=[1,2,3,4,5,6,7]
lst.insert(8,"A")
print(lst)

[1, 2, 3, 4, 5, 6, 7, 'A']

we can also delete and pop elements from the list
we can delete one item or more from the lists
if we provide no arguments in the pop function then the lest element will be deleted from the list
and if we provide any number as argument then that number index will popped out
pop also returns the value popped

In [69]:
lst.pop()

'A'

In [70]:
lst.pop(0)

1

In [71]:
print(lst)

[2, 3, 4, 5, 6, 7]

In [72]:
del lst[0]

In [73]:
print(lst)

[3, 4, 5, 6, 7]

In [74]:
del lst[4:]

In [75]:
print(lst)

[3, 4, 5, 6]